.product {
  margin-bottom: 20px;

  &__img {
    height: 150px;
    object-fit: cover;
  }

  &__title {
    font-size: 16px;
    color: #0c233c;

    sup {
      font-size: 12px;
      color: #1e49e2;
    }
  }
}
